*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accentColor: rgb(73, 205, 228);
  --mainColor: rgb(43, 138, 246);
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-top: .75rem;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-links {
  display: flex;
  flex-basis: 110px;
  justify-content: flex-end;
  list-style: none;
}

.nav-links a {
  padding: .25rem .25rem;
}

.nav-links a:hover,
.nav-links a:focus {
  box-shadow: 0 3px 0 var(--accentColor);
  transition: box-shadow 250ms ease-in;
}

.Background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #eee;
  background-image: linear-gradient(35deg, rgb(73, 205, 228), rgb(43, 138, 246) 70%);
  z-index: -1;
}

/* Welcome Section */
.Welcome {
  min-height: 85vh;
  display: grid;
  align-content: center;
  justify-items: center;
  grid-gap: 3rem;
  color: #fff;
}

.Welcome section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.Welcome section a {
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 25px;
  border: 3px solid;
  border-color: var(--accentColor);
  border-top-color: var(--mainColor);
}

.Welcome section a:hover,
.Welcome section a:focus {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
  color: #eee;
  transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out;
}

/* Register Component */
.Register {
  min-height: 70vh;
  padding: 0 2rem;
  margin-top: 3rem;
  display: grid;
  color: #fff;
  align-items: center;
}

  .Register header {
  justify-self: start;
  display: grid;
  flex-direction: column;
  align-items: space-around ;
}

.Register header h3 {
  font-weight: 400;
}

.Register form {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

.Register form .input {
  display: grid;
  gap: 1em;
  grid-template-areas: 'label input';
  grid-template-columns: 1fr 2fr;
  font-size: 1.2rem;
  align-items: center;
}

@media (max-width:500px) {
  .Register form {
    gap: 2rem;
  }

  .Register form .input {
    grid-template-areas: 'label''input';
    grid-template-columns: 1fr;
    gap: .5rem;  
  }

  .Register form .input label, .Register form .input input {
    text-align: left;
  }

}

.Register form label {
  grid-area: label;
  text-align: right;
}

.Register form input {
  grid-area: input;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1.3rem;
  padding: .25rem .5rem;
  border-radius: 5px;
  border-bottom: 2px solid var(--accentColor);
}

.Register form input::placeholder {
  color: #ccc;
}

.Register button {
  margin-top: 1rem;
  border: none;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  border-radius: 25px;
  border: 3px solid var(--mainColor);
  background: var(--mainColor);
  color: #fff;
  cursor: pointer;
}


/* Login Component */
.Login {
  min-height: 70vh;
  padding: 0 2rem;
  margin-top: 3rem;
  display: grid;
}

.Login section {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.Login section h3 {
  box-shadow: 0 2px 0px #666;
}

.Login section ul {
  margin-top: 1rem;
  list-style: none;
  text-align: center;
}

.Login section li {
  padding: .5rem;
  font-weight: 600;
  color: rgb(33, 62, 124);
}

.Login section ul li:nth-child(odd) {
  background: #eee;
}